<!doctype html>
<html>
<head>
	<title>GET and POST Assignment</title>
</head>
<body>
	<h1>{{getPost}} Request Received</h1>
	
	<h1>You sent the following data in a {{getPost}} request:</h1>
	<ul>
	{{#each param}}
	<li>{{this.name}}: {{this.value}}
	{{/each}}
	</ul>

</body>
</html>

This week you will write single page web application that will receive incoming POST and GET requests. If it is a POST request it should say at the top of the page, in an H1 tag "POST Request Received". If a GET request is received it should say "GET Request Received" in the same H1 tag.

Below that you can, at your discretion, create either a list or a table which clearly shows all parameter names and values which were sent in the URL query string for both a GET and POST request (you can still send stuff in the URL when making a POST request).

Below that, if it is a POST request, you should list, again either in a list or a table, all the property names and values that were received in the request body. It should be able to accepter either a well formatted URL encoded query string (x-www-form-urlencoded) or JSON data.