<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Using the NASA API by Erin Alltop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="home.html" class="logo"><strong>Using the NASA API</strong> by Erin Alltop</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="nasaAPI.html">NASA API Intro</a></li>
					<li><a href="getKey.html">Get your API Key</a></li>
					<li><a href="introJSON.html">Working with JSON</a></li>
					<li><a href="potd.html">Picture of the Day</a></li>
					<li><a href="marsRov.html">Mars Rover Images</a></li>
					<li><a href="putTogeth.html">Putting it Together</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="image fit">
						<img src="images/banner2.jpg" alt="" />
					</div>
					<header>
						<h1>Getting your API Key</h1>
						<p class="info">To apply for a NASA API key <a href="https://api.nasa.gov/index.html#apply-for-an-api-key">apply here.</a></p>
					</header>
					<p>So far we have explored what an API is and some of the things it might be used for, including many of the open APIs from NASA. In order to make the most use of these APIs as a developer, we must obtain an API Key. But what is an API Key and why do we need to use it? </p>

					<h2>The API Key</h2>
					<p>An API Key is a unique "key" assigned to you and you alone for use with your application. In most cases, you will be unable to access the data services of an API without including an API key issues by the content creator. A key serves as a vital piece of security and tracking tool for the company that issues it. It can be used as a form of identification and authentication for a service to identify where a request is coming from. Many companies limit the amount of requests you can make to their server within a certain time period before your application is "throttled" or blocked. The API key makes this type of tracking possible, in the case of an abuse of their services.</p>
					<p>Another use of the API Key that benefits the developer, is being able to more easily manipulate your code and keep it up to date. For example, if a web service providing you with an API instead required a username/password and you needed to change your password down the road, you would then need to change every instance of your password in your code which is cumbersome and prone to error. Overall, an API Key is more secure for you as a developer because it is extremely difficult to guess, and a leaked key is less likely to give away information about you than a normal username/password combination would.</p>

					<h2>How do I get an API Key?</h2>
					<p>The process for obtaining an API Key for the NASA APIs is thankfully very straightforward. Navigate to the NASA API Key application form and fill in your details. You will then receive your API key immediately and it will be also emailed to you. Remember to keep your key secure at all times, especially in your code.<br />
					</p>
					<p>
							<center><a href="https://api.nasa.gov/index.html#apply-for-an-api-key" class="button alt">Click here to apply for your NASA API Key!</a></center>
					</p>

					<p>In the next section, we will learn about what JSON is and how we can use it to access information from NASA for use in our applications.</p>


				</div>

				<div style=padding-top=50px>
				<p>
				<center>
					<h4>Where to Next?</h4>
							<ul class="actions">
								<li><a href="nasaAPI.html" class="button special">Prev: NASA API Intro</a></li>
								<li><a href="introJSON.html" class="button">Next: Working with JSON</a></li>
							</ul>
							</center>
					</p>
				</div>
			</section>

		<!-- Footer -->
				<footer id="footer">
				<div class="copyright">
					&copy; Erin Alltop. Design by <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>