<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Using the NASA API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="home.html" class="logo"><strong>Using the NASA API</strong> by Erin Alltop</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="nasaAPI.html">NASA API Intro</a></li>
					<li><a href="getKey.html">Get your API Key</a></li>
					<li><a href="introJSON.html">Working with JSON</a></li>
					<li><a href="potd.html">Picture of the Day</a></li>
					<li><a href="marsRov.html">Mars Rover Images</a></li>
					<li><a href="putTogeth.html">Putting it Together</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>A beginners guide to using the <a href="https://api.nasa.gov/api.html#apod">Picture of the Day</a><br /> and 
					<a href="https://api.nasa.gov/api.html#MarsPhotos">Mars Rover Photo</a> features of the <a href="https://api.nasa.gov/index.html">NASA API</a></h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="images/nasa-logo.jpg" alt="" data-position="50% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="nasaAPI.html">Intro to the NASA API</a></h2>
							<p class="info">View the NASA API <a href="https://api.nasa.gov/index.html">Homepage</a></p>
						</header>
						<p>An application program interface (API), is a set of routines, protocols, and tools for building software applications.
						In general terms, it is a library of tools of a specific type made available by a person or organization to users for their own applications. The NASA
						API grants users access to unique features that allow them to pull data from the NASA database.</p>
						<ul class="actions">
							<li><a href="nasaAPI.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="images/potd1.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="getKey.html">Getting your API Key </a></h2>
							<p class="info">Why use an <a href="https://api.nasa.gov/api.html#authentication">API Key?</a></p>
						</header>
						<p>An API Key is a string of text unique to you that is required for your call to an API. This allows the provider of the API to track its use, as well as prevent abuse of its services. In this section we will learn why and how we will use the NASA API key and how to obtain one for use in our own applications. We will also review security guidelines for our key.</p>
						<ul class="actions">
							<li><a href="getKey.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="images/potd4.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="introJSON.html">Working with JSON</a></h2>
							<p class="info">Some useful <a href="http://www.json.org/">JSON documentation</a></p>
						</header>
						<p>JSON stands for JavaScript Object Notation. JSON is commonly used in conjunction with web APIs to exchange information
						from its host to be used in a variety of applications. We will explore more in depth what JSON is and how you can use
						it to use the NASA API to gather the information you need.</p>
						<ul class="actions">
							<li><a href="introJSON.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image">
					<img src="images/potd7.jpg" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="potd.html">Picture of the Day</a></h2>
							<p class="info">What is today's <a href="https://apod.nasa.gov/apod/astropix.html">POTD?</a></p>
						</header>
						<p>The NASA Picture of the Day API is one of the more popular APIs NASA has to offer. It returns an image and relevant properties associated with the image that can be parsed and used in a variety of ways. We will explore how to query the NASA database for this API and some examples of how we can use it in our application.</p>
						<ul class="actions">
							<li><a href="potd.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image">
					<img src="images/curiosity.jpg" alt="" data-position="70% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="marsRov.html">Mars Rover Photos</a></h2>
							<p class="info">Mars Rovers on <a href="https://en.wikipedia.org/wiki/Mars_rover">Wikipedia</a></p>
						</header>
						<p>The Mars rovers are some of the most well-known and fascinating pieces of NASA technology thus far in human history. We have access to all of the images they have taken and it is up to us how we wish to use this information. In this section we will review how to query and parse the large amount of data returned to us and examples of how we can use the information in a meaningful way. The world is at your fingertips! So to speak.</p>
						<ul class="actions">
							<li><a href="marsRov.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Six -->
			<article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="images/mars2.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="putTogeth.html">Putting it All Together</a></h2>
						</header>
						<p>This last section of our guide will give an example of how we might use the NASA API in an application with some user input.</p>
						<ul class="actions">
							<li><a href="putTogeth.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Erin Alltop. Design by <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer 
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>