<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Using the NASA API by Erin Alltop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="home.html" class="logo"><strong>Using the NASA API</strong> by Erin Alltop</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="nasaAPI.html">NASA API Intro</a></li>
					<li><a href="getKey.html">Get your API Key</a></li>
					<li><a href="introJSON.html">Working with JSON</a></li>
					<li><a href="potd.html">Picture of the Day</a></li>
					<li><a href="marsRov.html">Mars Rover Images</a></li>
					<li><a href="putTogeth.html">Putting it Together</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="image fit">
						<img src="images/banner1.jpg" alt="" />
					</div>
					<header>
						<h1>Introduction to the NASA API</h1>
						<p class="info">The NASA open APIs <a href="https://api.nasa.gov/">homepage</a></p>
					</header>
					<p>NASA has committed itself to providing open and full sharing of all data that it obtains with academia, private industry, the general public, and luckily for us,
					the research and applications communities. What does this mean for us? As programmers and application creators, this means that NASA has made available to us its
					vase wealth of knowledge that it has obtained. To do so, we have access to NASA's API.</p>


					<h2>What is an API?</h2>
					<p>An API is a tool, or more concisely, a library that allows developers to safely access information for developers to use in other software. For example, the OpenWeatherMap is a weather API that provides developers with information on the weather throughout the world for use in their applications. This can be highly useful
					if you are creating an app that utilizes a weather feature, because you do not have to create a research station to find out what the weather will be like tomorrow. Instead, you can use code provided by the API to pull information on the weather from the OpenWeatherMap servers!</p>
					<p>APIs are also very common in social media. Many applications and websites make use of the Facebook API in order to post on behalf of users (with their permission),
					create photo albums, or use services like finding out if Jane is friends with Dick. Twitter, Youtube, Google, Yahoo, and many other large companies have free and
					and easily accessible APIs. These are great for you as a developer, great for the user of your application as they can use a more familiar service embedded in your app (in the case of popular social media APIs) and great for the companies that provide the API because it increases the value of their product,
					drives revenue in many instances, and can increase the popularity of their business. For educational and research based organizations, the free exchange of information
					is also an incredibly appealing aspect of APIs.</p>

					<h2>What does the NASA API do?</h2>
					<p>NASA has several open source APIs that allow developers to access their data in useable ways.  

								<h4><a href="https://api.nasa.gov/">NASA Open APIs</a></h4>
									<ul>
										<li><a href="https://api.nasa.gov/api.html#apod">Picture of the Day:</a> New image everyday with useful keywords </li>
										<li><a href="https://api.nasa.gov/api.html#NeoWS">Asteroids - NeoWs:</a> Lookup specific asteroid or search based on closest approach date to Earth</li>
										<li><a href="https://api.nasa.gov/api.html#EPIC">EPIC:</a> Daily imagery of the EPIC instrument. Full disc imagery of the Earth</li>
										<li><a href="https://api.nasa.gov/api.html#EONET">EONET:</a> Browse the entire globe daily in near real time </li>
										<li><a href="https://api.nasa.gov/api.html#earth">Earth:</a> Satellite imagery powered by Google Earth Engine</li>
										<li><a href="https://api.nasa.gov/api.html#MarsPhotos">Mars Rover Photos:</a> Images gathered by the Mars Rovers</li>
										<li><a href="https://api.nasa.gov/api.html#patents">Patents:</a> NASA patent portfolio</li>
										<li><a href="https://api.nasa.gov/api.html#sounds">Sounds:</a> A collection of sounds in space!</li>
										<li><a href="https://api.nasa.gov/api.html#ssd_CNEOS">SSD/CNEOS:</a> Interface to machine-readable data realted to SSD and CNEOS</li>
										<li><a href="https://api.nasa.gov/api.html#techport">Techport:</a> Data for technology projects NASA is working on right now</li>
									</ul>

					In this guide we will focus on the Picture of the Day and the Mars Rover Photo portions of the NASA API. In the next section, we will find out how to obtain an API Key for use in our application, and how to use the API to get the information we need from the NASA server to our application. 

					</p>
				</div>

				<div style=padding-top=50px>
				<p>
				<center>
					<h4>Where to Next?</h4>
							<ul class="actions">
								<li><a href="home.html" class="button special">Prev: Home</a></li>
								<li><a href="getKey.html" class="button">Next: Get your API Key</a></li>
							</ul>
							</center>
					</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Erin Alltop. Design by <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>