<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Using the NASA API by Erin Alltop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="home.html" class="logo"><strong>Using the NASA API</strong> by Erin Alltop</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="nasaAPI.html">NASA API Intro</a></li>
					<li><a href="getKey.html">Get your API Key</a></li>
					<li><a href="introJSON.html">Working with JSON</a></li>
					<li><a href="potd.html">Picture of the Day</a></li>
					<li><a href="marsRov.html">Mars Rover Images</a></li>
					<li><a href="putTogeth.html">Putting it Together</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="image fit">
						<img src="images/curDune.jpg" alt="" />
					</div>
					<header>
						<h1>Putting it Together</h1>
						<p class="info">See more of the <a href="https://api.nasa.gov/api.html#MarsPhotos">Mars Rover API</a></p>
					</header>


<p>Below is an example of code that one might use in their application. This code first loads the manifest data of the Curiosity rover and allows the user to select a sol date in a given range. After clicking the button to get pictures, the first three pictures from that day are displayed. The Earth date, rover name, and the camera used to take the photo are also displayed. There are many applications for the NASA API - explore it further on your own and see what you can do. The universe is the limit! For now..</p>



<iframe width="100%" height="1500" src="//jsfiddle.net/alltope/ca9cnzLh/1/embedded/result,js,html/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

				</div>
				<div style=padding-top=50px>
				<p>
				<center>
					<h4>Where to Next?</h4>
							<ul class="actions">
								<li><a href="marsRov.html" class="button special">Prev: Mars Rover Photos</a></li>
								<li><a href="home.html" class="button">Next: Home</a></li>
							</ul>
							</center>
					</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Erin Alltop. Design by <a href="https://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>